/* .maint-table table {
  table-layout: fixed;
} */

.main-table-card p {
  text-align: center;
  width: 150px;
}


.main-table tr {
  overflow:scroll;
}

.projectname {
  width: 175px;
}
.main-table td  {
  font-size: 12px;
  width: 7%;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: #F0F0F0;
  text-align: center;
  height: 100px;
  vertical-align: middle;
}

.main-table th {
  font-weight: bold;
  text-align: center;
}

.card {
  font-size: 12px;
}
