.main-table td  {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: #F0F0F0;
  text-align: center;
}

.maintable th {
  font-weight: normal;
  text-align: center;
}

.maintable tr {
  height: 200px;
  width: 100%;
  border-spacing: 5rem;
}

table.maintable {
  width: 90%;
}


th.milestonecolumn {
  font-size: 12px;
  text-align: center;
}

td.milestoneval {
  /* background-color: #F8F8F8; */
  font-size: 12px;
}

a.maintable {
  font-size: 10px;
  text-align: center;
}

a.cellheader {
  font-size: 14px;
}
