.main-table td.first-cell {
  background-color: white;
  text-align: center;
  vertical-align: middle;
}

.main-table td  {
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: #F0F0F0;
  text-align: center;
}

.main-table th {
  font-weight: bold;
  text-align: center;
}

table.main-table {
  width: 100%;
}


th.milestonecolumn {
  font-size: 12px;
  text-align: center;
}

.main-table td.milestoneval {
  /* background-color: #F8F8F8; */
  font-size: 12px;
}

a.maintable {
  font-size: 10px;
  text-align: center;
}
