
{% block main %}
<div class="bg-light">
  <div style="max-width: 1900px;" class = "container bg-light text-center">
    {% for project in projects %}
    <div style= "padding: 2rem 0rem 2remj" class="row py-3 justify-content-center bg-light shadow-sm">
      <div class="col">
        <table class="table bg-light table-borderless">
            <tr>
              <td class="text-left">
                <h4>
                  <p>
                  {{project.projectnumber}}
                  {% if project.Status == "offtrack" %}
                    <span id="{{project.projectnumber}}_status_badge" class="badge badge-sm badge-danger">Off Track</span>
                  {% elif project.Status == "ontrack" %}
                    <span id="{{project.projectnumber}}_status_badge" class="badge badge-sm badge-success">On Track</span>
                  {% elif project.Status == "onwatch" %}
                    <span id="{{project.projectnumber}}_status_badge" class="badge badge-sm badge-warning">On Watch</span>
                  {% endif %}
                  </p>
                  <p style="max-width: 400px;">
                    {{project.projectname}}
                  </p>
                </h4>
                <p class="lead">{{project.current_milestone.name}}: {{project.current_milestone.end}}
                  {% if project.current_milestone.end != None %}
                   - <span class="badge badge-pill badge-warning">in {{ project.current_milestone.end|timeuntil:today }}</span>
                  {% endif %}
                </p>
                <p style="max-width: 400px;" class="lead strong text-muted">{{project.Comments}} </p>
                <ul style="font-size: 9px;" class="list-group list-group-horizontal text-nowrap list-responsive bg-light">
                  <li class="list-group-item list-group-item-secondary">Project Team:</li>
                  <li class="list-group-item">PM: {{project.projectmanager}}</li>
                  <li class="list-group-item">EE: {{project.mechanicalengineer}}</li>
                  <li class="list-group-item">ME: {{project.electricalengineer}}</li>
                  <li class="list-group-item">Pr: {{project.programmer}}</li>
                </ul>
              </td>
              <!-- <td><h4>{{project.current_milestone.name}}: <br>{{project.current_milestone.end}} <span class="badge badge-warning">in {{project.current_milestone.days_until}} business days</span></h4></td> -->
              <td>
                <div class="row">
                  <div class="col text-right">
                    <button id ="{{ project.projectnumber }}" onclick="updateOntrack(this)" type="button" class="btn btn-outline-success">On Track</button>
                    <button id ="{{project.projectnumber}}" onclick="updateOnwatch(this)" type="button" class="btn btn-outline-warning">On Watch</button>
                    <button id ="{{project.projectnumber}}" onclick="updateOfftrack(this)" type="button" class="btn btn-outline-danger">Off Track</button>
                    <a href = "{% url 'update' num=project.projectnumber %}" class="btn btn-outline-info" role="button">Update</a>
                  </div>
                </div>
              </td>
            </tr>
        </table>
        <table class="table text-center table-responsive table-borderless">
            <tr>
              <td class="col">
                <ul class="list-group list-group-horizontal">
                  {% for milestone, values in project.milestones.items %}
                    {% if milestone == project.current_milestone.name %}
                    <div style="width: 235px;" class="container">
                      <li class="list-group-item flex-fill shadow">
                        <h4><span class="badge badge-pill badge-light">Next Milestone</span></h4>
                        <p class="lead">
                          {{milestone}}
                          <br>
                          <span class="badge badge-pill badge-warning">in {{ project.current_milestone.end|timeuntil:today }}</span>
                        </p>
                        {{values.end}}
                        <hr>
                        <p class="text-muted"><small>Initial:</small></p>
                      </li>
                    </div>
                    {% else %}
                      <li style="font-size: 15px; width: 160px; height: 150px;" class="list-group-item bg-light px-3 flex-fill">
                        {{milestone}}
                        <br>
                        {% if values.end != None %}
                          <span class="badge badge-sm badge-pill badge-light">in {{ values.end|timeuntil:today }}</span>
                        {% endif %}
                        <hr>{{values.end}}
                      </li>
                    {% endif %}
                  {%endfor%}
                </ul>
              </td>
            </tr>
        </table>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
