{% extends "projects/base.html" %}

{% block title %}
    Company Name: {{status}} Projects
{% endblock %}

{% block main %}

<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 1 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneOne.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 2 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneTwo.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 3 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneThree.html" %}
  </div>
</div>
<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 4 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneFour.html" %}
  </div>
</div>
<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 5 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneFive.html" %}
  </div>
</div>
<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 6 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneSix.html" %}
  </div>
</div>
<div class="row text-center">
  <div class="col pt-3">
    <h3> Department 7 Deadlines </h3>
      {% include "projects/snapshot_planner_MilestoneSeven.html" %}
  </div>
</div>






{% endblock %}
