{% extends "projects/base.html" %}

{% block title %}
    Acieta: {{status}} Projects
{% endblock %}

{% block main %}
<div class="bg-light">
  <div class="pricing-header py-5 text-center">
     <h4 class="display-4"> {{Title}}</h4>
     <p class="lead">Delivering Tomorrow, today.</p>
     <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url 'index' %}" class="btn btn-outline-secondary" role="button">All Projects <span class="badge badge-pill badge-secondary">{{num_proj}}</span></a>
      <a href="{% url 'viewontrack' %}" class="btn btn-outline-secondary" role="button">On Track <span class="badge badge-pill badge-success">{{num_on}}</span></a>
      <a href="{% url 'viewonwatch' %}" class="btn btn-outline-secondary" role="button">On Watch <span class="badge badge-pill badge-warning">{{num_watch}}</span></a>
      <a href="{% url 'viewofftrack' %}" class="btn btn-outline-secondary" role="button"> Off Track <span class="badge badge-pill badge-danger">{{num_off}}</span></a>
      <a href="{% url 'printable' %}" class="btn btn-outline-secondary" role="button"> Print View </a>
    </div>
  </div>
  {% include "projects/snapshot.html" %}
  <div class="row">
    <div class="col pb-5 text-center">
      <h3>Project Details</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% for project in projects %}
        {% include "projects/project_list.html" %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
