{% extends "projects/base.html" %}

{% block title %}
    Acieta: {{status}} Projects
{% endblock %}

{% block main %}
<div class="bg-light">
  <div style="max-width: 1500px;" class = "container bg-light text-center">
    <div class="row py-5 justify-content-center bg-light">
      <div class="col">
        <div class="pricing-header text-center">
           <h2 class="display-4">Your Projects ({{count}})</h2>
           <p class="lead">Deliverying tomorrow, today.</p>
           <div class="btn-group">
             <a href="https://www.gotomeeting.com/" class="btn btn-outline-secondary" role="button">Schedule a Meeting</a>
             <a href="https://outlook.live.com/owa/" class="btn btn-outline-secondary" role="button">Send an Email</a>
             <a href="https://weather.com/" class="btn btn-outline-secondary" role="button">Check The Weather</a>
             <a href="https://www.robotics.org/News" class="btn btn-outline-secondary" role="button"> Industry News </a>
             <a href="{% url 'myprintable' %}" class="btn btn-outline-secondary" role="button"> Print View </a>
          </div>
        </div>
      </div>
    </div>

    {% include "projects/snapshot.html" %}

    {% for project in projects %}
      {% include "projects/project_list.html" %}
    {% endfor %}

{% endblock %}
