{% extends "projects/base.html" %}

{% block title %}
    Acieta: {{status}} Projects
{% endblock %}

{% block main %}
  <div class="container">
    <div class="pt-5 row text-left">
    <h4 class="display-4"> All Projects - as of {{time}}</h4>
    <table class="table table-sm table-bordered">
      <thead class="text-nowrap">
        <td>Project #</td>
        <td>Desc.</td>
        <td>PM</td>
        <td>ME Rel</td>
        <td>EE Rel</td>
        <td>Manuf</td>
        <td>Fin.</td>
        <td>Runoff</td>
        <td>Inst. Start</td>
        <td>Inst. Finish</td>
        <td>Docs</td>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <td>{{project.projectnumber}}</td>
            <td>{{project.projectname}}</td>
            <td>{{project.projectmanager}}</td>
            <td>{{project.Mechanical_Release|date:'m/d/y'}}</td>
            <td>{{project.Electrical_Release|date:'m/d/y'}}</td>
            <td>{{project.Manufacturing|date:'m/d/y'}}</td>
            <td>{{project.Finishing|date:'m/d/y'}}</td>
            <td>{{project.Customer_Runoff|date:'m/d/y'}}</td>
            <td>{{project.Install_Start|date:'m/d/y'}}</td>
            <td>{{project.Install_Finish|date:'m/d/y'}}</td>
            <td>{{project.Documentation|date:'m/d/y'}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock %}
