{% extends "projects/base.html" %}

{% block title %}
    Acieta: {{status}} Projects
{% endblock %}

{% block main %}

<div class="row text-center">
  <div class="col pt-3">
    <h3> Engineering Deadlines </h3>
      {% include "projects/snapshot_planner_engineering.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Manufacturing Deadlines </h3>
      {% include "projects/snapshot_planner_manufacturing.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Assembly Deadlines </h3>
      {% include "projects/snapshot_planner_assembly.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Integration Deadlines </h3>
      {% include "projects/snapshot_planner_integration.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Tear Down & Ship Deadlines </h3>
      {% include "projects/snapshot_planner_shipping.html" %}
  </div>
</div>

<div class="row text-center">
  <div class="col pt-3">
    <h3> Install Deadlines </h3>
      {% include "projects/snapshot_planner_install.html" %}
  </div>
</div>

<div class="row">
  <div class="col">
    {% for project in projects %}
      {% include "projects/project_list.html" %}
    {% endfor %}
  </div>
</div>



{% endblock %}
