{% extends "projects/base.html" %}

{% block title %}
    Acieta: {{status}} Projects
{% endblock %}

{% block main %}
<div class="container-fluid justify-content-center">

<div class="jumbotron text-center bg-white">
  <h1 class="display-4">{{status}} Projects</h1>
  <hr class="my-4">
  {% if status == 'Current' %}
  <p>Add Project or Filter</p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href = '{% url 'index' %}' class="btn btn-lg btn-info" role="button">View All</a>
    <a href = '{% url 'offtrack' %}' class="btn btn-lg btn-danger" role="button">View Off-Track</a>
    <a href = '{% url 'onwatch' %}' class="btn btn-lg btn-warning" role="button">View On-Watch</a>
    <a href = '{% url 'create' %}' class="btn btn-lg btn-success" role="button">Add Project</a>
  </div>
  {% endif %}
</div>

  <div class="table-responsive">
    <table class="table main-table">
      <thead style="font-size: 18px;" class="thead">
        <tr>
          <th></th>
          <th scope="col" style="color: #ff4c4c;">#</th>
          <th scope="col" class="projectname">Project Info</th>
          <th scope="col">Action</th>
          <th colspan="12">Milestones</th>
        </tr>
      </thead>

      <tbody>
        {% for project in projects %}
          <tr>
            {% if project.Status == 'offtrack' %}
              <td style="width: 3px; background-color: #ff4d4d; vertical-align:middle"></td>
            {%elif project.Status == 'onwatch' %}
              <td style="width: 3px; background-color: #ffc966; vertical-align:middle"></td>
            {%elif project.Status == 'ontrack' %}
              <td style="width: 3px; background-color: #7ec47d; vertical-align:middle"></td>
            {%elif project.Status == 'update' %}
              <td style="width: 3px; background-color: blue; vertical-align:middle"></td>
            {%elif project.Status == 'onhold' %}
              <td style="width: 3px; background-color: purple; vertical-align:middle"></td>

            {%endif%}

            <td style="text-align: center; vertical-align:middle">
              <h5>{{project.projectnumber}}</h5>
            </td>
            <td style="text-align: left; vertical-align:middle">
              <p class="projectname lead">{{project.projectname}}</p>
            </td>
            <td>
              {% if project.iscurrent == True %}
              <div class="dropdown">
                <button style = "width: 110px;" class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ project.get_Status_display }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'status' num=project.projectnumber stat='ontrack' %}">On-Track</a>
                  <a class="dropdown-item" href="{% url 'status' num=project.projectnumber stat='offtrack' %}">Off-Track</a>
                  <a class="dropdown-item" href="{% url 'status' num=project.projectnumber stat='onwatch' %}">On-Watch</a>
                  <a class="dropdown-item" href="{% url 'status' num=project.projectnumber stat='onhold' %}">On-Hold</a>
                  <a class="dropdown-item" href="{% url 'status' num=project.projectnumber stat='update' %}">Update</a>
                </div>
              </div>
              <p>
              </p>
              <p>
                <a style="width: 110px;" href='{% url 'update' num=project.projectnumber %}' class="btn btn-sm btn-secondary" role="button">Update</a>
              </p>
              <p> <a style="width: 110px;" href='{% url 'activation' num=project.projectnumber %}' class="btn btn-sm btn-warning" role="button">Complete</a> </p>
              {% else %}
              <p>
                <a href='{% url 'activation' num=project.projectnumber %}' class="btn btn-sm btn-warning" role="button">Activate</a>
              </p>
                <br>
              <p>
                <a href='{% url 'delete' num=project.projectnumber %}' class="btn btn-sm btn-danger" role="button">Delete</a>
              </p>
              {% endif %}
            </td>

            <!-- TODO put loop in here to loop through milestones, so we can put indication of next milestone -->
            {% for milestone, values in project.milestones.items %}
              {% if milestone == project.current_milestone.name %}
                <td style="font-weight: bold; vertical-align:middle"><a class="cellheader">
                  <div class = "shadow">
                    <div class="card">
                      <div class="card-header">{{milestone}}</div>
                      <div class="card-body">
                        <!-- <h8 class="card-title">{{milestone}}</h8> -->
                        <p class="card-text milestone"> {{values.end}}</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">in {{project.current_milestone.days_until}} day(s)</small>
                      </div>
                    </div>
                  </div>
                </td>

              {% else %}
                <td style="vertical-align:middle"><p>{{milestone}}<hr>{{values.end}}</p></td>
              {% endif %}

            {% endfor %}
          </tr>
        {%endfor%}
      </div>
      </tbody>
    </table>
  </div>

</div>





{% endblock %}
