{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}
<div class="container-fluid justify-content-center">

<div class="jumbotron text-center bg-white">
  <h1 class="display-4">Active Projects</h1>
  <hr class="my-4">
  <p class="lead">All Active Projects Listed Below</p>
</div>
    <table class="table main-table">
      <thead style="font-size: 18px;" class="thead">
        <tr>
          <th style="width: 3px;"></th>
          <th style="color: #ff4c4c;">#</th>
          <th>Project Info</th>
          <th>Next Milestone</th>
          <th>Update</th>
          <th colspan="10">Milestones</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            {% if project.Status == 'offtrack' %}
              <td style="width: 3px; background-color: #ff8454; vertical-align:middle"></td>
            {%elif project.Status == 'onwatch' %}
              <td style="width: 3px; background-color: #ffc966; vertical-align:middle"></td>
            {%else%}
              <td style="width: 3px; background-color: #7ec47d; vertical-align:middle"></td>

            {%endif%}
            <td style="text-align: left; vertical-align:middle">{{project.projectnumber}}</td>
            <td style="text-align: left; vertical-align:middle" class="container;">{{project.projectname}}
            </td>
            <td style="text-align: left; vertical-align:middle">{{project.current_milestone.name}} in {{project.current_milestone.days_until}} Days
              <p></p>
              <p></p>
              <div style="vertical-align: bottom;" class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: {{project.current_phase.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.current_phase.progress}}%</div>
              </div><br>
              <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change Status
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Off-Track</a>
                <a class="dropdown-item" href="#">On-Watch</a>
                <a class="dropdown-item" href="#">On-Hold</a>
                <a class="dropdown-item" href="#">Update</a>
              </div></td>
            <td style="text-align: left; vertical-align:middle"><button class="btn-sm btn-primary btn-block" type="button" href='{% url 'update' num=project.projectnumber %}'>Update</button>
            </td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">ME Release</a><hr>{{project.Mechanical_Release}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">EE Release</a><hr>{{project.Electrical_Release}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Paint</a><hr>{{project.Finishing}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Assembly</a><hr>{{project.Assembly}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Int. Runoff</a><hr>{{project.Internal_Runoff}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Cust. Runoff</a><hr>{{project.Customer_Runoff}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Ship</a><hr>{{project.Ship}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Install Strt</a><hr>{{project.Install_Start}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Install Fin</a><hr>{{project.Install_Finish}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Docu.</a><hr>{{project.Documentation}}</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>


  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Milestone</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>




{% endblock %}
