{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}
<div class="container-fluid justify-content-center">

<div class="jumbotron text-center bg-white">
  <h1 class="display-4">{{status}} Projects</h1>
  <hr class="my-4">
  <p class="lead">All {{status}} Projects Listed Below</p>
</div>
{% if status == 'Current' %}
  <div class = "container" style="padding-bottom: 5rem; justify-content: center; width: 25%">
    <a href = '{% url 'create' %}' class="btn btn-success btn-lg btn-block" role="button">+ Project</a>
    <a href = '{% url 'offtrack' %}' class="btn btn-danger btn-lg btn-block" role="button">Off-Track</a>
    <a href = '{% url 'onwatch' %}' class="btn btn-warning btn-lg btn-block" role="button">On-Watch</a>
    <a href = '{% url 'index' %}' class="btn btn-info btn-lg btn-block" role="button">All</a>
  </div>
{% endif %}

    <table class="table main-table">
      <thead style="font-size: 18px;" class="thead">
        <tr>
          <th style="width: 3px;"></th>
          <th style="color: #ff4c4c;">#</th>
          <th>Project Info</th>
          <th>Next Milestone</th>
          <th>Update</th>
          <th colspan="10">Milestones</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            {% if project.Status == 'offtrack' %}
              <td style="width: 3px; background-color: #ff4d4d; vertical-align:middle"></td>
            {%elif project.Status == 'onwatch' %}
              <td style="width: 3px; background-color: #ffc966; vertical-align:middle"></td>
            {%else%}
              <td style="width: 3px; background-color: #7ec47d; vertical-align:middle"></td>

            {%endif%}
            <td style="text-align: left; vertical-align:middle">{{project.projectnumber}}</td>
            <td style="text-align: left; vertical-align:middle" class="container;">{{project.projectname}}
            </td>
            <td style="text-align: left; vertical-align:middle">{{project.current_milestone.name}} in {{project.current_milestone.days_until}} Days
              <p></p>
              <p></p>
              <div style="vertical-align: bottom;" class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: {{project.current_phase.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.current_phase.progress}}%</div>
              </div><br>
              <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change Status
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Off-Track</a>
                <a class="dropdown-item" href="#">On-Watch</a>
                <a class="dropdown-item" href="#">On-Hold</a>
                <a class="dropdown-item" href="#">Update</a>
              </div></td>
            <td style="text-align: center; vertical-align:middle">
              <p>
                <a href='{% url 'update' num=project.projectnumber %}' class="btn btn-primary" role="button">Update</a>
              </p>
              <br>
              {% if project.iscurrent == True %}
                <a href='{% url 'activation' num=project.projectnumber %}' class="btn btn-primary" role="button">Complete</a>
              {% else %}
                <a href='{% url 'activation' num=project.projectnumber %}' class="btn btn-primary" role="button">Activate</a>
              {% endif %}
            </td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">ME Release</a><hr>{{project.Mechanical_Release}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">EE Release</a><hr>{{project.Electrical_Release}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Paint</a><hr>{{project.Finishing}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Assembly</a><hr>{{project.Assembly}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Int. Runoff</a><hr>{{project.Internal_Runoff}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Cust. Runoff</a><hr>{{project.Customer_Runoff}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Ship</a><hr>{{project.Ship}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Install Strt</a><hr>{{project.Install_Start}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Install Fin</a><hr>{{project.Install_Finish}}</td>
            <td class="milestoneval" style="vertical-align:middle"><a class="cellheader">Docu.</a><hr>{{project.Documentation}}</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>





{% endblock %}
