{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}


<div style="height: 90%; overflow: auto; padding: 0rem 2rem 5rem;">
  <div style="text-align: left; font-size: 20px;"> Project Manager: {{ user.first_name}} {{user.last_name}}</div>
  <div style="padding: 2rem 0rem 2rem; font-size: 15px;"> Table - All Projects ({{ num_proj }})</div>

  <div class="container">
  <!-- TODO: allow to scroll in body only -->

  <div class="row justify-content-center">
    <div style="text-align: center;" class="col-10">
      <h4>Off Track</h4>
      <table style="width: 100%; height: 300px;" class = "table table-responsive table-bordered">
        <thead style="width: 100%;" class="thead-light">
          <tr>
            <th>Project Number</th>
            <th>Project Name</th>
            <th>Next Milestone</th>
            <th>Deadline</th>
            <th>Days Away</th>
            <th>Off Track</th>
            <th>On Watch</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody style="width: 100%;">
          {% for project in projects_off %}
          <tr>
            <td>{{project.projectnumber}}</td>
            <td>{{project.projectname}}</td>
            <td>{{project.current_milestone.name}}</td>
            <td>{{project.current_milestone.end}}</td>
            <td>{{project.current_milestone.days_until}}</td>
            <td>

              {% if project.offtrack == False %}
              <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
              {% else %}
              <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
              {% endif %}
            </td>
            <td>
              {% if project.onwatch == False %}
              <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
              {% else %}
              <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
              {% endif %}
            </td>
            <td>
                <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>


    <div class="row justify-content-center">
      <div style="text-align: center;" class="col-10">
        <h4>On Watch</h4>
        <table style="width: 100%; height: 300px;" class = "table table-responsive table-bordered">
          <thead style="width: 100%;" class="thead-light">
            <tr>
              <th>Project Number</th>
              <th>Project Name</th>
              <th>Next Milestone</th>
              <th>Deadline</th>
              <th>Days Away</th>
              <th>Off Track</th>
              <th>On Watch</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody style="width: 100%;">
            {% for project in projects_watch %}
            <tr>
              <td>{{project.projectnumber}}</td>
              <td>{{project.projectname}}</td>
              <td>{{project.current_milestone.name}}</td>
              <td>{{project.current_milestone.end}}</td>
              <td>{{project.current_milestone.days_until}}</td>
              <td>

                {% if project.offtrack == False %}
                <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
                {% else %}
                <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
                {% endif %}
              </td>
              <td>
                {% if project.onwatch == False %}
                <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
                {% else %}
                <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
                {% endif %}
              </td>
              <td>
                  <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>


  <div class="row justify-content-center">
    <div style="text-align: center;" class="col-10">
      <h4>Upcoming Milestones</h4>
      <table style="width: 100%; height: 300px;" class = "table table-responsive table-bordered">
        <thead style="width: 100%;" class="thead-light">
          <tr>
            <th>Project Number</th>
            <th>Project Name</th>
            <th>Next Milestone</th>
            <th>Deadline</th>
            <th>Days Away</th>
            <th>Off Track</th>
            <th>On Watch</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody style="width: 100%;">
          {% for project in projects %}
          <tr>
            <td>{{project.projectnumber}}</td>
            <td>{{project.projectname}}</td>
            <td>{{project.current_milestone.name}}</td>
            <td>{{project.current_milestone.end}}</td>
            <td>{{project.current_milestone.days_until}}</td>
            <td>

              {% if project.offtrack == False %}
              <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
              {% else %}
              <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
              {% endif %}
            </td>
            <td>
              {% if project.onwatch == False %}
              <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
              {% else %}
              <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
              {% endif %}
            </td>
            <td>
                <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>

  <div style="padding: 2rem 0rem 2rem;" class = "row">
	<table style="white-space: nowrap; width: 100%; height: 50%;"class = "table table-hover table-bordered table-responsive">

    <!-- TODO: Table head fixed -->
    <thead style="text-align: center; font-size: 20px;" class="thead-light">
  		<tr style="height: 25px;">


            <th>Project Number</th>
            <th>Project Name</th>
            <th>Next Deadline</th>
            <th>Off Track</th>
            <th>On Watch</th>
            <th>Update Project</th>
            <th>Suggested Tasks</th>
            <th>Complete</th>
            <th>ME Release</th>
            <th>EE Release</th>
            <th>Manufacturing</th>
            <th>Finishing</th>
            <th>Assembly</th>
            <th>Integration</th>
            <th>Internal Runoff</th>
            <th>Customer Runoff</th>
            <th>Ship</th>
            <th>Install</th>
            <th>Install Finish</th>
            <th>Documentation</th>

      </tr>
    </thead>

    <tbody>
    {% for project in projects %}

        {% if project.offtrack == True %}
        <tr>
          <td class="table-danger"> {{ project.projectnumber }} </td>
          <td><a href = "http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}">{{ project.projectname }}<br><a style="font-size: 10px;"> Last Updated: {{project.lastupdated}}</a></a></td>
          <td> <a style="white-space: nowrap">{{project.current_milestone.name}}: {{project.current_milestone.end }} <br> <a style="font-size: 10px;white-space:nowrap;">{{ project.current_milestone.days_until }} Business Days Away</a></td>

          <td>

            {% if project.offtrack == False %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>
            {% if project.onwatch == False %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>

              <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
          </td>
          <td><button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button></td>
          <td>
              <!-- TODO Need to have op up message before closing project -->
              <button onclick = "location.href = 'http://127.0.0.1:8000/projects/close/{{project.projectnumber}}'" class="btn btn-danger">Close</button>
          </td>

          <td>{% if project.mechanicalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.electricalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.manufacturingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.finishingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.assemblycomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.integrationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.internalrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.customerrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.shipcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installstartcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installfinishcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.documentationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation }}</label>
            </div>
            {%endif%}
          </td>


        </tr>
        {% endif %}

        {% if project.onwatch == False and project.offtrack == False %}
        <tr>
          <td class="table-success"> {{ project.projectnumber }} </td>
          <td><a href = "http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}">{{ project.projectname }} <br><a style="font-size: 10px;"> Last Updated: {{project.lastupdated}}</a></a></td>
          <td> <a style="white-space: nowrap">{{project.current_milestone.name}}: {{project.current_milestone.end }} <br> <a style="font-size: 10px;white-space:nowrap;">{{ project.current_milestone.days_until }} Business Days Away</a></td>
          <td>

            {% if project.offtrack == False %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>
            {% if project.onwatch == False %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>

              <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
          </td>
            <td><button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button></td>
          <td>

              <button onclick = "location.href = 'http://127.0.0.1:8000/projects/close/{{project.projectnumber}}'" class="btn btn-danger">Close</button>
          </td>

          <td>{% if project.mechanicalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.electricalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.manufacturingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.finishingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.assemblycomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.integrationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.internalrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.customerrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.shipcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installstartcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installfinishcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.documentationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation }}</label>
            </div>
            {%endif%}
          </td>


        </tr>
        {% endif %}

        {% if project.onwatch == True and project.offtrack != True %}
        <tr>
          <td class="table-warning"> {{ project.projectnumber }} </td>
          <td><a href = "http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}">{{ project.projectname }}<br><a style="font-size: 10px;"> Last Updated: {{project.lastupdated}}</a></a></td>
          <td> <a style="white-space: nowrap">{{project.current_milestone.name}}: {{project.current_milestone.end }} <br> <a style="font-size: 10px;white-space:nowrap;">{{ project.current_milestone.days_until }} Business Days Away</a></td>
          <td>

            {% if project.offtrack == False %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>
            {% if project.onwatch == False %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>

              <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
          </td>
            <td><button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button></td>
          <td>

              <button onclick = "location.href = 'http://127.0.0.1:8000/projects/close/{{project.projectnumber}}'" class="btn btn-danger">Close</button>
          </td>

          <td>{% if project.mechanicalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.electricalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.manufacturingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.finishingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.assemblycomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.integrationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.internalrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.customerrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.shipcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installstartcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installfinishcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.documentationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation }}</label>
            </div>
            {%endif%}
          </td>


        </tr>
        {% endif %}
        {% endfor %}
      </tbody>

    </table>
  </div>

</div>
</div>




{% endblock %}
