{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}


<div style="width: 100%; font-size: 20px; padding: 0rem 2rem 0rem;">
  <div style="text-align: left; font-size: 30px;"> Project Manager: {{ user.first_name}} {{user.last_name}}</div>
  <div style="text-align: left; padding: 2rem 0rem 2rem; font-size: 20px;"> Cards - All Projects ({{ num_proj }})</div>
</div>

{% for project in projects %}

<div style="text-align: center; padding: 1rem 2rem 1rem;" class="row">

  <div class="col-lg-12">
    {% if project.offtrack == True %}
      <div class="card border-danger">
    {% elif project.onwatch == True %}
      <div class="card border-warning">
    {% else %}
      <div class="card border-success">
    {% endif %}
      <div class="card-title">
        <h3 style="text-align: left;"class="card-header">
          <a>{{ project.projectnumber }} {{ project.projectname }}
            <a style="color: red; font-size: 15px;"> (Last Updated: {{project.lastupdated}})</a>
          </a>
          <br>
          <a>Project Manager: {{project.projectmanager.first_name}} {{project.projectmanager.last_name}}
          </a>
        </h3>
      </div>

        <div style="padding: 0rem 1rem 1rem;"class="row">

          <div class="col-sm-4">
            <div class="card">
              <div class="card-title">
                <h5 class="card-header">Status</h5>
                <p style="font-weight: bold; text-align:center;" class="card-text">
                  <table style="font-weight: bold; font-size: 20px;" class="table">
                    <tr>
                      <td>Off Track</td>
                      <td>
                        {% if project.offtrack == False %}
                        <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
                        {% else %}
                        <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
                        {% endif %}
                      </td>
                    </tr>
                  <tr>
                    <td>On Watch</td>
                    <td>
                      {% if project.onwatch == False %}
                      <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
                      {% else %}
                      <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
                      {% endif %}
                    </td>
                  </tr>
                </table>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-title">
                <h5 class="card-header">Next Deadline</h5>
                <p style="font-weight: bold; text-align:center;" class="card-text">
                  <table class="table">
                    <tr>
                      <td style="font-weight: bold;font-size: 25px;">{{project.current_milestone}} <br><a style="color: red; font-size: 20px;">{{ project.days_from_next_deadline }} Days</a></td>
                      <td style="font-weight: bold;font-size: 25px;">{{project.current_milestone_deadline }}</td>
                    </tr>
                </table>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-title">
                <h5 class="card-header">PM Assistant</h5>
                <p style="font-weight: bold; text-align:center;" class="card-text">
                  <p>
                    <button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button>
                  </p>
                  <p>
                    <button name = "dashboardproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Generate Dashboard</button>
                  </p>
                  <p>
                    <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div style="padding: 1rem 2rem 1rem;"class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-title">
              <h5 class="card-header">{{project.projectnumber}} Schedule</h5>
                <p class="card-text">
                  <table style="font-size: 20px;"class="table table-responsive">
                    <tr>
                      <thead>
                        <th>ME Release</th>
                        <th>EE Release</th>
                        <th>Manufacturing</th>
                        <th>Finishing</th>
                        <th>Assembly</th>
                        <th>Integration</th>
                        <th>Internal Runoff</th>
                        <th>Customer Runoff</th>
                        <th>Ship</th>
                        <th>Install</th>
                        <th>Install Finish</th>
                        <th>Documentation</th>
                      </thead>
                    </tr>
                  <tbody>
                    <tr>
                      <td>{% if project.mechanicalreleasecomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.electricalreleasecomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.manufacturingcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.finishingcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.assemblycomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.integrationcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.internalrunoffcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.customerrunoffcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.shipcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.installstartcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.installfinishcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.documentationcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
                        </div>
                        {%endif%}
                      </td>
                    </tr>
                  </tbody>
                  </table>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



      </div>
    </div>

  {% endfor %}









{% endblock %}
