{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}


<div style="height: 90%; overflow: auto; font-size: 15px; padding: 5rem 2rem 0rem;">
  <div style="text-align: left; font-size: 30px;"> Project Manager: {{ user.first_name}} {{user.last_name}}</div>
  <div style="padding: 2rem 0rem 2rem; font-size: 20px;"> Table - All Projects ({{ num_proj }})</div>

  <!-- TODO: allow to scroll in body only -->
  <div style="overflow: auto; font-size: 15px;">
	<table style="white-space: nowrap; width: 100%; height: 50%;"class = "table table-hover">

    <!-- TODO: Table head fixed -->
    <thead class="thead-dark">
  		<tr style="height: 25px;">


            <th>Project Number</th>
            <th>Project Name</th>
            <th>Next Deadline</th>
            <th>Off Track</th>
            <th>On Watch</th>
            <th>Update Project</th>
            <th>Suggested Tasks</th>
            <th>Complete</th>
            <th>ME Release</th>
            <th>EE Release</th>
            <th>Manufacturing</th>
            <th>Finishing</th>
            <th>Assembly</th>
            <th>Integration</th>
            <th>Internal Runoff</th>
            <th>Customer Runoff</th>
            <th>Ship</th>
            <th>Install</th>
            <th>Install Finish</th>
            <th>Documentation</th>

      </tr>
    </thead>

    <tbody>
    {% for project in projects %}

        {% if project.offtrack == True %}
        <tr class="table-danger">
          <td> {{ project.projectnumber }} </td>
          <td><a href = "http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}">{{ project.projectname }}<br><a style="font-size: 10px;"> Last Updated: {{project.lastupdated}}</a></a></td>
          <td> <a style="white-space: nowrap">{{project.current_milestone}}: {{project.current_milestone_deadline }} <br> <a style="font-size: 10px;white-space:nowrap;">{{ project.days_from_next_deadline }} Business Days Away</a></td>

          <td>

            {% if project.offtrack == False %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>
            {% if project.onwatch == False %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>

              <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
          </td>
          <td><button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button></td>
          <td>
              <!-- TODO Need to have op up message before closing project -->
              <button onclick = "location.href = 'http://127.0.0.1:8000/projects/close/{{project.projectnumber}}'" class="btn btn-danger">Close</button>
          </td>

          <td>{% if project.mechanicalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.electricalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.manufacturingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.finishingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.assemblycomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.integrationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.internalrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.customerrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.shipcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installstartcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installfinishcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.documentationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
            </div>
            {%endif%}
          </td>


        </tr>
        {% endif %}

        {% if project.onwatch == False and project.offtrack == False %}
        <tr class="table-success">
          <td> {{ project.projectnumber }} </td>
          <td><a href = "http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}">{{ project.projectname }} <br><a style="font-size: 10px;"> Last Updated: {{project.lastupdated}}</a></a></td>
          <td> <a style="white-space: nowrap">{{project.current_milestone}}: {{project.current_milestone_deadline }} <br> <a style="font-size: 10px;white-space:nowrap;">{{ project.days_from_next_deadline }} Business Days Away</a></td>
          <td>

            {% if project.offtrack == False %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>
            {% if project.onwatch == False %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>

              <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
          </td>
            <td><button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button></td>
          <td>

              <button onclick = "location.href = 'http://127.0.0.1:8000/projects/close/{{project.projectnumber}}'" class="btn btn-danger">Close</button>
          </td>

          <td>{% if project.mechanicalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.electricalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.manufacturingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.finishingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.assemblycomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.integrationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.internalrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.customerrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.shipcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installstartcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installfinishcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.documentationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
            </div>
            {%endif%}
          </td>


        </tr>
        {% endif %}

        {% if project.onwatch == True and project.offtrack != True %}
        <tr class="table-warning">
          <td> {{ project.projectnumber }} </td>
          <td><a href = "http://127.0.0.1:8000/projects/dashboard/{{project.projectnumber}}">{{ project.projectname }}<br><a style="font-size: 10px;"> Last Updated: {{project.lastupdated}}</a></a></td>
          <td> <a style="white-space: nowrap">{{project.current_milestone}}: {{project.current_milestone_deadline }} <br> <a style="font-size: 10px;white-space:nowrap;">{{ project.days_from_next_deadline }} Business Days Away</a></td>
          <td>

            {% if project.offtrack == False %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>
            {% if project.onwatch == False %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
            {% else %}
            <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
            {% endif %}
          </td>
          <td>

              <button name = "updateproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/update/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Update</button>
          </td>
            <td><button name = "suggestedproj" type="button" onclick = "location.href = 'http://127.0.0.1:8000/projects/suggested/{{project.projectnumber}}'" class="btn btn-info" id = "{{ project.projectnumber }}">Suggested Tasks</button></td>
          <td>

              <button onclick = "location.href = 'http://127.0.0.1:8000/projects/close/{{project.projectnumber}}'" class="btn btn-danger">Close</button>
          </td>

          <td>{% if project.mechanicalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.mechanicalrelease }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.electricalreleasecomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.electricalrelease }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.manufacturingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.manufacturing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.finishingcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.finishing }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.assemblycomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.assembly }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.integrationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.integration }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.internalrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.internalrunoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.customerrunoffcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.customerrunoff }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.shipcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.ship }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installstartcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installstart }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.installfinishcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.installfinish }}</label>
            </div>
            {%endif%}
          </td>

          <td>{% if project.documentationcomplete != True %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
            </div>
            {% else %}
            <div class="form-check custom-control-inline">
              <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
              <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.documentation }}</label>
            </div>
            {%endif%}
          </td>


        </tr>
        {% endif %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  </div>




{% endblock %}
