{% extends "projects/base.html" %}

{% block title %}
    Acieta: {{status}} Projects
{% endblock %}

{% block main %}


<div class="container">
  <div class="px-5 py-5 row text-center">
    <div class="col">
      <h3> Projects as of {{time}}</h3>
    </div>
  </div>
  {% for project in projects %}
  <div class="row">
    <div class="col">
      <table style="font-size: 12px;" class="table table-sm table-bordered table-responsive text-center">
        <thead>
        </thead>
        <tbody>
            <tr class="lead">
              <td style="max-width: 150px;">{{project.projectnumber}}</td>
              <td style="max-width: 150px;">{{project.projectname}}<br><small class="text-muted">PM: {{project.projectmanager}}</small><br><a style="font-size: 10px;" class="text-muted">Last Updated:{{project.lastupdated}}</a></td>
              <td style="max-width: 150px;">{{project.current_milestone.name}}: <br>{{project.current_milestone.end}}<br><small>Status: {{project.Status}}</small></td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="col">
                  <table style="font-size: 10px;" class="table table-sm table-bordered text-center table-responsive">
                    <tbody>
                      <tr>
                        {% for milestone,values in project.milestones.items %}
                          <td style="width: 125px;">{{milestone}}<hr>{{values.end}}</td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr class="lead text-center">
              <td colspan="3">{{project.Comments}}</td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
