{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}


<div style="width: 100%; font-size: 20px; padding: 0rem 0rem 0rem;">
  <div style="text-align: center; padding: 2rem 0rem 2rem; font-size: 20px;"> Acieta's Number of Active Projects: ({{ num_proj }})</div>
</div>

{% for project in projects %}

<div style="text-align: center; padding: 1rem 2rem 1rem;" class="row">

  <div class="col-lg-12">
    <div class="card border">
      <div class="card-title">
        <h3 style="text-align: left;"class="card-header">
          <a>{{ project.projectnumber }} {{ project.projectname }}
            <a style="color: red; font-size: 15px;"> (Last Updated: {{project.lastupdated}})</a>
          </a>
          <br>
          <a>Project Manager: {{project.projectmanager.first_name}} {{project.projectmanager.last_name}}
          </a>
        </h3>
      </div>

        <div style="padding: 0rem 1rem 1rem;"class="row">

          <div class="col-sm-2">
            <div class="card">
              <div class="card-title">
                <h5 class="card-header">Status</h5>
                <p style="font-weight: bold; text-align:center;" class="card-text">
                  <table style="font-weight: bold; font-size: 20px;" class="table">
                    <tr>
                      <td>Off Track</td>
                      <td>
                        {% if project.offtrack == False %}
                        <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
                        {% else %}
                        <input name = "offtrack" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
                        {% endif %}
                      </td>
                    </tr>
                  <tr>
                    <td>On Watch</td>
                    <td>
                      {% if project.onwatch == False %}
                      <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "No" class="btn btn-success" id = "{{ project.projectnumber }}"/>
                      {% else %}
                      <input name = "onwatch" type="button" onClick = "changestatus(this)" value = "Yes" class="btn btn-warning" id = "{{ project.projectnumber }}" />
                      {% endif %}
                    </td>
                  </tr>
                </table>
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-3">
            <div class="card">
              <div class="card-title">
                <h5 class="card-header">Next Milestone</h5>
                <p style="font-weight: bold; text-align:center;" class="card-text">
                  <table class="table">
                    <tr>
                      <td style="font-weight: bold;font-size: 25px;">{{project.current_milestone}} <br><a style="color: red; font-size: 20px;">{{ project.days_from_next_deadline }} Days</a></td>
                      <td style="font-weight: bold;font-size: 25px;">{{project.current_milestone_deadline }}</td>
                    </tr>
                </table>
                </p>
              </div>
            </div>
          </div> -->

          <div class="col-sm-10">
            <div class="card">
              <div class="card-title">
              <h5 class="card-header">Current Schedule</h5>
                <p class="card-text">
                  <table style="font-size: 25px;" class="table table-responsive">
                    <tr>
                      <thead>
                        <th>ME Release</th>
                        <th>EE Release</th>
                        <th>Manufacturing</th>
                        <th>Finishing</th>
                        <th>Assembly</th>
                        <th>Integration</th>
                        <th>Internal Runoff</th>
                        <th>Customer Runoff</th>
                        <th>Ship</th>
                        <th>Install</th>
                        <th>Install Finish</th>
                        <th>Documentation</th>
                      </thead>
                    </tr>
                  <tbody>
                    <tr>
                      <td>{% if project.mechanicalreleasecomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value= "mechanicalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Mechanical_Release }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.electricalreleasecomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value= "electricalrelease" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Electrical_Release }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.manufacturingcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="manufacturing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Manufacturing }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.finishingcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="finishing" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Finishing }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.assemblycomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="assembly" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Assembly }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.integrationcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="integration" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Integration }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.internalrunoffcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="internalrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Internal_Runoff }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.customerrunoffcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="customerrunoff" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Customer_Runoff }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.shipcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="ship" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Ship }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.installstartcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="installstart" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Start }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.installfinishcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked = "checked" value="installfinish" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Install_Finish }}</label>
                        </div>
                        {%endif%}
                      </td>

                      <td>{% if project.documentationcomplete != True %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation}}</label>
                        </div>
                        {% else %}
                        <div class="form-check custom-control-inline">
                          <input type="checkbox" checked="checked" value="documentation" onclick="completemilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                          <label style="color: #D3D3D3;" name="lblmile" class="form-check-label" for="materialUnchecked">{{ project.Documentation}}</label>
                        </div>
                        {%endif%}
                      </td>
                    </tr>
                  </tbody>
                  </table>
                </p>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


      </div>
    </div>
  </div>
  {% endfor %}









{% endblock %}
