<div style="max-width: 1300px;" class="container-fluid bg-light">
  <table class="table table bg-light table responsive">
    <tr>
      <td style="min-width: 560px;" class="col text-left">
        <h4 id="{{project.projectnumber}}_details">
          {{project.projectnumber}} - {{project.projectname}}
        </h4>
        <a class="text-muted"><em>Dates Last Updated: {{project.lastupdated|timesince:today }} ago</em></a>
        <p class="text-muted small"> PM: {{project.projectmanager}} ME: {{project.mechanicalengineer}} EE: {{project.electricaleengineer}} Programmer: {{project.programmer}}</p>

          <button id ="{{ project.projectnumber }}" onclick="updateOntrack(this)" type="button" class="btn btn-outline-dark">On Track</button>
          <button id ="{{project.projectnumber}}" onclick="updateOnwatch(this)" type="button" class="btn btn-outline-dark">On Watch</button>
          <button id ="{{project.projectnumber}}" onclick="updateOfftrack(this)" type="button" class="btn btn-outline-dark">Off Track</button>
          <a href = "{% url 'update' num=project.projectnumber %}" class="btn btn-outline-info" role="button">Update</a>
          <a href = "{% url 'activation' num=project.projectnumber %}" class="btn btn-outline-secondary" role="button">Close/Activate</a>
      </td>

      <td style="min-width: 600px;" class="col text-left">
        <p style="max-height: 150px;" class="lead strong overflow-auto">Comments: <a class="text-muted">{{project.Comments}}</a></p>
      </td>
    </tr>
  </table>
  <table class="table text-center table-responsive table-borderless">
    <tbody>
      <tr>
        <td class="col">
          <ul class="list-group list-group-horizontal">
            {% if project.anymilestonescomplete == True %}
              <div style="font-size: 10px; width: 300px; height: 200px;" class="container overflow-auto text-left">
                <h6>Milesones Marked Complete:</h6>
                <ul class="list-group shadow">
                  {% for milestone, values in project.milestones.items %}
                    {% if values.status == True %}
                      <li class="list-group-item bg-light">
                        <div class="form-check custom-control-inline">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">{{milestone}}<br>{{values.end}}</label>
                          <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}" checked>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% for milestone, values in project.milestones.items %}
              {% if milestone == project.current_milestone.name %}
              <div style="width: 300px;" class="container">
                  <div class="card shadow" style="max-width: 18rem;">
                    {% if project.Status == "offtrack" %}
                    <div id="{{project.projectnumber}}_card_header" style="height: 40px;" class="card-header bg-danger text-white">
                      <h6>
                        Off Track
                      </h6>
                    </div>
                    {% elif project.Status == "ontrack" %}
                      <div id="{{project.projectnumber}}_card_header" style="height: 40px;" class="card-header bg-success text-white">
                        <h6>
                          On Track
                        </h6>
                      </div>
                    {% elif project.Status == "onwatch" %}
                      <div id="{{project.projectnumber}}_card_header" style="height: 40px;" class="card-header bg-warning">
                        <h6>
                          On Watch
                        </h6>
                      </div>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">
                        <div class="form-check custom-control-inline">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">
                            {{milestone}}
                            <!-- <span class="badge badge-warning">in {{ project.current_milestone.end|timeuntil:today }}</span> -->
                          </label>
                          <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                        </div>
                      </h5>
                      <p class="card-text">
                        <hr>
                        <h5>{{values.end}}</h5>
                        {% if not values.scheduled %}
                          <h5><span class="badge badge-warning">Not Scheduled</span></h5>
                        {% else %}
                          <h5><span class="badge badge-success">Scheduled</span></h5>
                        {% endif %}
                      </p>
                    </div>
                    <div class="card-footer bg-transparent">
                      {% if project.Slippage > 0 %}
                        <small class="text-muted">Project Slippage: <span class="badge badge-pill badge-danger">{{project.Slippage}}</span> week(s)</small>
                      {% elif project.Slippage <= 0 %}
                        <small class="text-muted">Project Slippage: <span class="badge badge-pill badge-success">{{project.Slippage}}</span> week(s)</small>
                      {% endif %}
                    </div>
                  </div>

              </div>
              {% elif values.end != None and values.status == False %}
                <li style="font-size: 15px; width: 180px; height: 150px;" class="list-group-item bg-light px-3 flex-fill">
                  {% if values.status == True %}
                    <div class="form-check custom-control-inline">
                      <label name="lblmile" class="form-check-label" for="materialUnchecked">{{milestone}}</label>
                      <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}" checked>
                    </div>
                  {% else %}
                    <div class="form-check custom-control-inline">
                      <label name="lblmile" class="form-check-label" for="materialUnchecked">{{milestone}}</label>
                      <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                    </div>
                  {% endif %}
                  <br>
                  {% if values.end != None %}
                    <span class="badge badge-sm badge-pill badge-light">in {{ values.end|timeuntil:today }}</span>
                  {% endif %}
                  <hr>{{values.end}}
                  {% if not values.scheduled %}
                    <a class="text-small"><span class="badge badge-warning">Not Scheduled</span></a>
                  {% else %}
                    <a class="text-small"><span class="badge badge-success">Scheduled</span></a>
                  {% endif %}
                </li>
              {% endif %}
            {%endfor%}
            <li style="font-size: 15px; width: 180px; height: 150px;" class="list-group-item bg-light px-3 flex-fill">
              <h5>Project End</h5>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
