<div style="max-width: 1300px;" class="container-fluid bg-light">
  <table class="table bg-light table responsive">
    <tr>
      <td style="min-width: 700px;" class="col text-left">
        <h4>
          {{project.projectnumber}} - {{project.projectname}}
          {% if project.Status == "offtrack" %}
            <span id="{{project.projectnumber}}_status_badge" class="badge badge-sm badge-danger">Off Track</span>
          {% elif project.Status == "ontrack" %}
            <span id="{{project.projectnumber}}_status_badge" class="badge badge-sm badge-success">On Track</span>
          {% elif project.Status == "onwatch" %}
            <span id="{{project.projectnumber}}_status_badge" class="badge badge-sm badge-warning">On Watch</span>
          {% endif %}
        </h4>
        <button id ="{{ project.projectnumber }}" onclick="updateOntrack(this)" type="button" class="btn btn-outline-success">On Track</button>
        <button id ="{{project.projectnumber}}" onclick="updateOnwatch(this)" type="button" class="btn btn-outline-warning">On Watch</button>
        <button id ="{{project.projectnumber}}" onclick="updateOfftrack(this)" type="button" class="btn btn-outline-danger">Off Track</button>
        <a href = "{% url 'update' num=project.projectnumber %}" class="btn btn-outline-info" role="button">Update</a>
        <a href = "{% url 'complete' num=project.projectnumber %}" class="btn btn-outline-secondary" role="button">Project Complete</a>
      </td>

      <td class="col">
        <p>
          <ul style="font-size: 9px;" class="list-group list-group-horizontal text-nowrap text-right list-responsive bg-light overflow-auto">
            <li class="list-group-item list-group-item-secondary">Project Team:</li>
            <li class="list-group-item">PM: {{project.projectmanager}}</li>
            <li class="list-group-item">EE: {{project.mechanicalengineer}}</li>
            <li class="list-group-item">ME: {{project.electricalengineer}}</li>
            <li class="list-group-item">Pr: {{project.programmer}}</li>
          </ul>
        </p>
        <p style="max-height: 95px;" class="lead strong text-left overflow-auto">Comments: <a class="text-muted">{{project.Comments}}</a></p>
      </td>
    </tr>
  </table>
  <table class="table text-center table-responsive table-borderless">
    <tbody>
      <tr>
        <td class="col">
          <ul class="list-group list-group-horizontal">
            <div style="font-size: 10px; width: 300px; height: 200px;" class="container overflow-auto text-left">
              <h6>Completed Milestones</h6>
              <ul class="list-group shadow">
                {% for milestone, values in project.milestones.items %}
                  {% if values.status == True and values.end != None %}
                    <li class="list-group-item">
                      <div class="form-check custom-control-inline">
                        <label name="lblmile" class="form-check-label" for="materialUnchecked">{{milestone}}<br>{{values.end}}</label>
                        <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}" checked>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% for milestone, values in project.milestones.items %}
              {% if milestone == project.current_milestone.name %}
              <div style="width: 300px;" class="container">
                  <div class="card shadow" style="max-width: 18rem;">
                    {% if project.Status == "offtrack" %}
                    <div id="{{project.projectnumber}}_card_header" style="height: 40px;" class="card-header bg-danger text-white">
                      <h6>
                        Off Track
                      </h6>
                    </div>
                    {% elif project.Status == "ontrack" %}
                      <div id="{{project.projectnumber}}_card_header" style="height: 40px;" class="card-header bg-success text-white">
                        <h6>
                          On Track
                        </h6>
                      </div>
                    {% elif project.Status == "onwatch" %}
                      <div id="{{project.projectnumber}}_card_header" style="height: 40px;" class="card-header bg-warning">
                        <h6>
                          On Watch
                        </h6>
                      </div>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">
                        <div class="form-check custom-control-inline">
                          <label name="lblmile" class="form-check-label" for="materialUnchecked">
                            {{milestone}}
                            <!-- <span class="badge badge-warning">in {{ project.current_milestone.end|timeuntil:today }}</span> -->
                          </label>
                          <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                        </div>
                      </h5>
                      <p class="card-text">
                        <hr>
                        <h5>{{values.end}}</h5>
                      </p>
                    </div>
                    <div class="card-footer bg-transparent">
                      {% if project.Slippage > 0 %}
                        <small class="text-muted">Project Slippage: <span class="badge badge-pill badge-danger">{{project.Slippage}}</span> days</small>
                      {% elif project.Slippage <= 0 %}
                        <small class="text-muted">Project Slippage: <span class="badge badge-pill badge-success">{{project.Slippage}}</span> days</small>
                      {% endif %}
                    </div>
                  </div>

              </div>
              {% elif values.end != None and values.status == False %}
                <li style="font-size: 15px; width: 180px; height: 150px;" class="list-group-item bg-light px-3 flex-fill">
                  {% if values.status == True %}
                    <div class="form-check custom-control-inline">
                      <label name="lblmile" class="form-check-label" for="materialUnchecked">{{milestone}}</label>
                      <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}" checked>
                    </div>
                  {% else %}
                    <div class="form-check custom-control-inline">
                      <label name="lblmile" class="form-check-label" for="materialUnchecked">{{milestone}}</label>
                      <input type="checkbox" value= "{{milestone}}" onclick="completeMilestone(this)"class="form-check-input" id="{{ project.projectnumber }}">
                    </div>
                  {% endif %}
                  <br>
                  {% if values.end != None %}
                    <span class="badge badge-sm badge-pill badge-light">in {{ values.end|timeuntil:today }}</span>
                  {% endif %}
                  <hr>{{values.end}}
                </li>
              {% endif %}
            {%endfor%}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
