{% extends "projects/base.html" %}

{% block title %}
    Acieta: Active Projects
{% endblock %}

{% block main %}

<!-- Div for engineering dates -->

<div style="width: 65%; margin: 0 auto; padding: 5rem 1rem 2rem;">
  <h2 style="text-align: center;"> Task Planning for All Projects <br> Number of Tasks: {{ number_tasks }}</h2>

  <!-- TODO: allow to scroll in body only -->
	<table class = "table table-sm table-hover table-bordered">

    <!-- TODO: Table head fixed -->
    <thead style="font-size: 20px;" class="thead-dark">
  		<tr>
            <th>Status</th>
            <th>Milestone/Task</th>
            <th>Date</th>
            <th>Assumption/Comment</th>
      </tr>
    </thead>

    <tbody>
    {% if sorted_tasks != None %}
    {% for key, value in sorted_tasks.items %}
        <tr style="border: solid grey 2px;">
          <td> </td>
          <td> {{ key }} </td>
          {% for element in value %}
          <td> {{ element }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}

    </table>
  </div>






{% endblock %}
