{% extends "projects/base.html" %}

{% block title %}
    Project
{% endblock %}

{% block main %}

<!-- TODO: Currently this jumbotron is pretty lame, could it be spiced up?-->
<div style = "height:200px;" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-7">Updating {{ project.projectnumber }} {{ project.projectname}}</h1>
  </div>
</div>


<!-- TODO: Style the form to match the base.html navbar?? -->
<form action="http://127.0.0.1:8000/projects/update/{{ project.projectnumber}}/" method="POST">
  {% csrf_token %}
<table style = "text-align: center;" class = "table table table-hover table-responsive table-bordered">
      <tr>
        <th> Current PM assigned </th>
        <td> {{ project.projectmanager.first_name }} {{project.projectmanager.last_name}} </td>
      </tr>
      {% for field in form %}
      <tr>
          <th>{{ field.label }}</th>
          <td>
            {{ field }}
          <br>
          </td>
      </tr>
      {% endfor %}



</table>
  <button style = "text-align: left;" type="submit" class="btn btn-default">Submit</button>
</form>


{% endblock %}

<!-- </form>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->
