{% extends "projects/base.html" %}

{% block title %}
    {{project.projectnumber}} Here
{% endblock %}

{% block main %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">{{project.projectname}}</div>
        <div class="card-body">
          <h2 class="card-title">{{project.projectname}}</h2>
          <h4 class="card-subtitle mb-2 text-muted">{{project.projectnumber}}</h4>
          <p class="card-text lead">Current Milestone Deadline: {{project.current_milestone.name}} - {{project.current_milestone.end}}</p>
          <p class="card-text">{{project.Comments}}</p>
          <a href="{% url 'update' num=project.projectnumber %}" class="card-link">Update Project</a>
          <a href="{% url 'update' num=project.projectnumber %}" class="card-link">Update Action List</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
